SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8091
AWS_REGION=ap-south-1
DYNAMODB_TABLE=interviewhq-crawler-dev
DYNAMODB_EXPERIENCE_TABLE=interviewhq-experiences-dev
DYNAMODB_QUESTION_TABLE=interviewhq-questions-dev
DYNAMODB_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
